{% extends "catalog/base.html" %}
{%block title%} Checkout {% endblock%}
{% block body %}
<div id="fail" class="alert alert-danger d-none">
 The request came to an abrupt end.
</div>

<div id="success" class="alert alert-success d-none">
  Your request is successful.
 </div>

    <script>
      var YOUR_CLIENT_ID = 'REPLACE_THIS_VALUE';
      var YOUR_REDIRECT_URI = 'REPLACE_THIS_VALUE';
    
      // Parse query string to see if page request is coming from OAuth 2.0 server.
      var fragmentString = location.hash.substring(1);
      console.log(fragmentString);
      var params = {};
      var regex = /([^&=]+)=([^&]*)/g, m;
      while (m = regex.exec(fragmentString)) {
        params[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
      }
      console.log(params);
      if (Object.keys(params).length > 0 && params['state']) {
        /*
        if (params['state'] == localStorage.getItem('state')) {
          //localStorage.setItem('oauth2-test-params', JSON.stringify(params) );
    
          //trySampleRequest();
        } else {
          console.log('State mismatch. Possible CSRF attack');
          $("#fail").removeClass('d-none');
        }*/

         if(Object.keys(params).includes('access_token'))
         {


          sendStateData(params);
         }
      }
    
      // Function to generate a random state value
      function generateCryptoRandomState() {
        const randomValues = new Uint32Array(2);
        window.crypto.getRandomValues(randomValues);
    
        // Encode as UTF-8
        const utf8Encoder = new TextEncoder();
        const utf8Array = utf8Encoder.encode(
          String.fromCharCode.apply(null, randomValues)
        );
    
        // Base64 encode the UTF-8 data
        return btoa(String.fromCharCode.apply(null, utf8Array))
          .replace(/\+/g, '-')
          .replace(/\//g, '_')
          .replace(/=+$/, '');
      }
    
      function sendStateData(params)
      {
        //var params = JSON.parse(localStorage.getItem('oauth2-test-params'));
        if (params && params['access_token']) { 
          var token=params['access_token'];
         
          console.log(params)
          $.ajax({
          
            url: '{{vgurl}}',
            method:"POST",
            type:'POST',
            headers: {'X-CSRFToken': '{{csrf_token}}'},
            data:params,
            dataType: 'html',
            success:function(json)
            {
          
              console.log(json);
            },
            error: function(xhr, ajaxOptions, thrownError) {
              alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
          
            });


        }


      }
      // If there's an access token, try an API request.
      // Otherwise, start OAuth 2.0 flow.
     
    
      /*
       * Create form to request access token from Google's OAuth 2.0 server.
       */
      function oauth2SignIn() {
        // create random state value and store in local storage
        var state = generateCryptoRandomState();
        localStorage.setItem('state', state);
    
        // Google's OAuth 2.0 endpoint for requesting an access token
        var oauth2Endpoint = 'https://accounts.google.com/o/oauth2/v2/auth';
    
        // Create element to open OAuth 2.0 endpoint in new window.
        var form = document.createElement('form');
        form.setAttribute('method', 'GET'); // Send as a GET request.
        form.setAttribute('action', oauth2Endpoint);
    
        // Parameters to pass to OAuth 2.0 endpoint.
        var params = {'client_id': YOUR_CLIENT_ID,
                      'redirect_uri': YOUR_REDIRECT_URI,
                      'scope': 'https://www.googleapis.com/auth/drive.metadata.readonly https://www.googleapis.com/auth/calendar.readonly',
                      'state': state,
                      'include_granted_scopes': 'true',
                      'response_type': 'token'};
    
        // Add form parameters as hidden input values.
        for (var p in params) {
          var input = document.createElement('input');
          input.setAttribute('type', 'hidden');
          input.setAttribute('name', p);
          input.setAttribute('value', params[p]);
          form.appendChild(input);
        }
    
        // Add form to page and submit it to open the OAuth 2.0 endpoint.
        document.body.appendChild(form);
        form.submit();
      }
    </script>
    
  

{% endblock %}