{% extends "catalog/base.html" %}
{% load i18n %}
{% block title%} {% translate "customer_add"%} {% endblock%}
{% block body%}
<div class='container'>
    {% if error %}
       <div class='error'>{{error}}</div>

    {% endif %}
    <h2>{% translate "customer_create_account"%}</h2>
    <div class="container-fluid">
    <form method="post" novalidate> 
        {% csrf_token %}
        {% include "catalog/form_field.html" %}
        <input type="submit" value="{% translate "btn_submit"%}" class='btn btn-primary'>
    </form>
</div>
</div>

{% endblock body%}   