{% extends "catalog/base.html" %}
{% load i18n static %}
{% load cust_css %}
{%block title%} Password Reset {% endblock%}

{% block body %}

<p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row row">
        {{ form.email.errors }}
       
    </div>
  
    {% include 'catalog/form_field.html' with form=password_reset_form  %}
    <input type="submit" class='btn btn-primary' value="{% translate 'Reset my password' %}">
</fieldset>
</form>

{% endblock %}
