{% extends "catalog/base.html" %}

{% block title%} Service {% endblock%}
{% block body%}
<div class='container'>
    <div class="row">
{% for contact in page_obj %}
    {# Each "contact" is a Contact model object. #}
  <div class='col-sm-3'> 
      <div class="card">
    <a href="{% url 'service:schedulebasic' contact.id %}"><img class="card-img-top"  src="{{contact.imurl}}"/></a>
       <div class="card-body">
         
 <h5 class='card-title'>  {{ contact.seo_title }}</h5>
 
   </div>
       </div>

   </div>
    
{% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>



</div>

{% endblock body%}