{% extends "catalog/base.html" %}
{% load i18n %}
{%block title%} Checkout Options {% endblock%}
{%block extrahead%} 
<script src="https://accounts.google.com/gsi/client" async defer></script>


{%endblock%}
{% block body %}

<div class='card'>

    <div class='card-title'>
        
        <h2 class="pad10">{% translate "checkout_checkout_options" %}</h2></div>
<div class='card-body'>

        <div class='row'>

          <div class='col-md-6 col-sm-12'>
              
           <!-- <p><a href='{% url "checkout:checkout" %}?type=guest'>Go without creating account</a>-->
            
            </p>  <a href='{% url "customer:customer-create"%}'>Register Account</a>
          <!---  <p><button class='btn btn-primary' idd="custom-google-btn" onclick1='oauthSignIn()'><i class="fa fa-google"></i> Use google to create account</button></p>-->
<!--<p><button onclick="te()">Check</button> </p>


<button id="custom-google-btn" style="background-color: #4285F4; color: white; border: none; padding: 10px 20px; border-radius: 4px; font-size: 16px; cursor: pointer;">
  Use google to create account 
</button>
          -->
          </div>


          <div class='col-md-6 col-sm-12'>

             <form method="post" >
                {% csrf_token %}
                {% include 'catalog/form_field.html'%}
                <div class="submit-row">
                    <button class='btn btn-primary' type="submit" >{% translate "Login" %}</button>

           

                  </div>

             </form>   



          </div>


        </div>   <!--row-->



</div>
{{social}}
</div>


  <script>
    
  /*
  function handleCredentialResponse(response) {
      // Decode JWT and handle user session
      //console.log("Encoded JWT ID token: " + response.credential);
      glogin2(response.credential);
      // Send this token to your backend for verification
    }
    window.onload = function () {
      
      google.accounts.id.initialize({
        client_id: "{{gci}}",
        callback: handleCredentialResponse
      });
  
     $("#custom-google-btn1").on("click", function () {
      //console.log("in custom -ggolle button");
        google.accounts.id.prompt(); // or use one-tap
        google.accounts.id.renderButton(
          document.getElementById("custom-google-btn"), 
          { theme: "outline", size: "large" } // these won't apply to your custom button, but required in init sometimes
        );
       google.accounts.id.prompt();
      });
    };*/
  </script>
<script>


  



 
/*

function oauthSignIn() {
  // Google's OAuth 2.0 endpoint for requesting an access token
  var oauth2Endpoint = 'https://accounts.google.com/o/oauth2/v2/auth';

  // Create <form> element to submit parameters to OAuth 2.0 endpoint.
  var form = document.createElement('form');
  form.setAttribute('method', 'GET'); // Send as a GET request.
  form.setAttribute('action', oauth2Endpoint);

  // Parameters to pass to OAuth 2.0 endpoint.
  var params1 = {'client_id': '{{gci}}',
                'redirect_uri': 'https://appoint.shambhalnetworks.in/customer/glogin',
                'response_type': 'token',
                'scope': 'https://www.googleapis.com/auth/userinfo.email',
                'include_granted_scopes': 'true',
                'state': 'pass-through value'};
    var params = {'client_id': '{{gci}}',
                'redirect_uri': '{{login_uri}}',
                'response_type': 'token',
                'scope': 'https://www.googleapis.com/auth/userinfo.profile',
                'include_granted_scopes': 'true',
                'state': 'pass-through value'};

  // Add form parameters as hidden input values.
  for (var p in params) {
    var input = document.createElement('input');
    input.setAttribute('type', 'hidden');
    input.setAttribute('name', p);
    input.setAttribute('value', params[p]);
    form.appendChild(input);
  }

  // Add form to page and submit it to open the OAuth 2.0 endpoint.
  document.body.appendChild(form);
  form.submit();
}
*/
 
 
</script>  


{% endblock%}